<!DOCTYPE html>
<html>

<head>
    <title>{{page}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="author" content="xxx">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Api login-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="284294590054-v1mp1l94q8qd534ft01t2lh6vn8lv540.apps.googleusercontent.com">
    <!--Google Api login-->
</head>

<body>

</body>

</html>